#Button {
  background-color: #FC466B;
  height: 50px;
}

.Box {
  width: 35vw;
}

@media screen and (max-width: 899px) {
  .Box {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .Box {
    width: 80vw;
  }
}